In [29]:
import pandas as pd
import numpy as np

# CTGAN Results

In [30]:
# load data
results = pd.read_csv("../results/MIA_Attack_Results_CTGAN.csv")
results

   real_accuracy  synth_accuracy  f1_ml_real  f1_ml_synth
0       0.599371        0.503300    0.607005     0.554378
1       0.602516        0.501971    0.592070     0.514682
2       0.600833        0.499358    0.594267     0.535580
3       0.602117        0.500687    0.598957     0.521469
4       0.603667        0.503920    0.581890     0.510885

In [32]:
# calculate mean and std
mean_real = np.mean(results['real_accuracy'])
std_real = np.std(results['real_accuracy'])
mean_synth = np.mean(results['synth_accuracy'])
std_synth = np.std(results['synth_accuracy'])

mean_f1_real = np.mean(results['f1_ml_real'])
std_f1_real = np.std(results['f1_ml_real'])
mean_f1_synth = np.mean(results['f1_ml_synth'])
std_f1_synth = np.std(results['f1_ml_synth'])

print('CTGAN-Results')
print(f"Real Data Accuracy: {100 * mean_real:.1f}% ± {100*std_real:.1f}%")
print(f"Synthetic Data Accuracy: {100* mean_synth:.1f}% ± {std_synth:.1f}%")
print(f"Real Data F1 Score: {100 * mean_f1_real:.1f}% ± {100*std_f1_real:.1f}%")
print(f"Synthetic Data F1 Score: {100 * mean_f1_synth:.1f}% ± {100*std_f1_synth:.1f}%")

CTGAN-Results
Real Data Accuracy: 60.2% ± 0.1%
Synthetic Data Accuracy: 50.2% ± 0.0%
Real Data F1 Score: 59.5% ± 0.8%
Synthetic Data F1 Score: 52.7% ± 1.6%

# CopulaSynthesizer

In [34]:
# load data
results = pd.read_csv("../results/MIA_Attack_Results_Copula.csv")
results

   real_accuracy  synth_accuracy  f1_ml_real  f1_ml_synth
0       0.599371        0.506356    0.607005     0.360176
1       0.602516        0.500908    0.592070     0.420939
2       0.600833        0.525801    0.594267     0.349353
3       0.602117        0.512513    0.598957     0.336266
4       0.603667        0.495726    0.581890     0.396374

In [35]:
# calculate mean and std
mean_real = np.mean(results['real_accuracy'])
std_real = np.std(results['real_accuracy'])
mean_synth = np.mean(results['synth_accuracy'])
std_synth = np.std(results['synth_accuracy'])

mean_f1_real = np.mean(results['f1_ml_real'])
std_f1_real = np.std(results['f1_ml_real'])
mean_f1_synth = np.mean(results['f1_ml_synth'])
std_f1_synth = np.std(results['f1_ml_synth'])

print('Copula-Results')
print(f"Real Data Accuracy: {100 * mean_real:.1f}% ± {100*std_real:.1f}%")
print(f"Synthetic Data Accuracy: {100* mean_synth:.1f}% ± {std_synth:.1f}%")
print(f"Real Data F1 Score: {100 * mean_f1_real:.1f}% ± {100*std_f1_real:.1f}%")
print(f"Synthetic Data F1 Score: {100 * mean_f1_synth:.1f}% ± {100*std_f1_synth:.1f}%")

Copula-Results
Real Data Accuracy: 60.2% ± 0.1%
Synthetic Data Accuracy: 50.8% ± 0.0%
Real Data F1 Score: 59.5% ± 0.8%
Synthetic Data F1 Score: 37.3% ± 3.1%